body {
	background: rgb(26, 26, 26);
	display: flex;
	width: 100vW;
	height: 100vH;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.gameover {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	display: block;
	margin: 20px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border: .5px solid #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
	color: #ffffff;
}

h1 {
	font-family: shuriken-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4em;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	-webkit-text-stroke: .5px #000000;
	text-transform: uppercase;
}

input {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border: .5px solid #ffffff;
}

input:focus {
	outline-color: #fffcf3;
}

input[type=text] {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

input[type=submit] {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

input::-webkit-input-placeholder {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

#renameForm {
	display: none;
	padding: 20px;
}