body {
	margin: 0;
	padding: 0;
}

.savedColor {
	width: 100vW;
	height: 100vH;
	display: none;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.active {
	display: flex;
}

button {
	width: 30vW;
	margin: 20px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border: .5px solid #000000;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
	color: #000000;
}

/* blob */

#blob {
	width: 100px;
}

.blob-div{
	width: 100px;

}

p {
	position: absolute;
	font-family: platelet, sans-serif;
	font-weight: 200;
	font-style: normal;
	color: #000;
	top: 10px;
	left: 50px;
}

/* Night */

#night {
	width: 100vW;
	height: 100vh;
	/* background-color: #000000; */
	display: ;
	position: absolute;
	background: linear-gradient(to top right, #000000 0%, transparent);
	opacity: 0%;
	background-size: cover;
}

/* Color divs */


.color {
	border: 1px solid #000000;
	width: 20px;
	height: 20px;
	border-radius: 0%;
	position: absolute;
}

#red {
	background-color: red;
	left: 50%;
	top: 0%;
}

#orange {
	background-color: orange;
	left: 0%;
	top: 50%;
	
}

#yellow {
	background-color: yellow;
	left: 0%;
	top: 80%;
}

#green {
	background-color: green;
	left:20%;
	bottom: 0%;
}

#blue {
	background-color: blue;
	right: 0%;
	bottom: 0%;
}

#indigo {
	background-color: indigo;
	right: 0%;
	top: 80%;
}

#violet {
	background-color: violet;
	right: 0%;
	top: 50%;
}

/* Gameboard */

.gameboard {
	background: 
		radial-gradient(circle at center, rgba(255, 255, 255, 0.527), transparent),
		radial-gradient(circle at top center, red, transparent),
		radial-gradient(circle at top left, orange, transparent),
		radial-gradient(circle at center left, yellow, transparent),
		radial-gradient(circle at bottom left, green, transparent),
		radial-gradient(circle at bottom center, blue, transparent),
		radial-gradient(circle at bottom right, indigo, transparent),
		radial-gradient(circle at center right, violet, transparent);
	background-size: cover;	
}

html {
	min-height: 100%;
	/*
    min-height: 400%;
	min-width: 100%;
	*/
}

/*radial-gradient(shape size at position, start-color, ..., last-color)*/

h1 {
	font-family: shuriken-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4em;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	-webkit-text-stroke: .5px #000000;
	text-transform: uppercase;
}

input {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border: .5px solid #ffffff;
}

input:focus {
	outline-color: #fffcf3;
}

input[type=text] {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

input[type=submit] {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

input::-webkit-input-placeholder {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}