/* Landing Page Spaceing */

body {
	margin: 0px;

}

.instructions {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fffcf3;
	padding: 20px 60px;
	margin-top: 0px;
}

.active {
	display: flex;
}

.turn {
	transform: rotate(180deg);
}

.down-arrow {
	width: 50px;
	padding: 20px;
	display: block;
	margin: auto;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

/* Input */

input {
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border: .5px solid #000000;
}

input:focus {
	outline-color: #fffcf3;
}

input[type=text] {
	color: #ffffff;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

input[type=submit] {
	color: #000000;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

input::-webkit-input-placeholder {
	color: #000000;
	font-family: platelet, sans-serif;
	font-size: 1.25em;
	text-align: center;
}

/* Fonts */

h1 {
	font-family: shuriken-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4em;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	-webkit-text-stroke: .5px #000000;
	text-transform: uppercase;
}

h2 {
	font-family: shuriken-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	-webkit-text-stroke: .5px #000000;
	text-transform: uppercase;
}

p {
	font-family: platelet, sans-serif;
	font-weight: 200;
	font-style: normal;
	line-height: 1em;
	color: #000;
}

.instructions p {
	margin-top: 0px;
	width: 50%;
	padding-bottom: 10px;
}